* {
  font-family: 'Open Sans', sans-serif;
  color: #373737;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.GuildDashboard {
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: block;
}

.GuildDashboardDividerLine {
  display: block;
  height: 1px;
  background-color: rgba(0,0,0,0.3);
  width: 95%;
  margin: 0 auto;
  margin-top: 41.5px;
  margin-bottom: 41.5px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}