* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiCircularProgress-root {
  color: rgba(0, 0, 0, 0.2) !important;
  height: 100px !important;
  width: 100px !important;
  margin-top: calc(50vh - 50px) !important;
}