* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiCircularProgress-root {
  color: rgba(0, 0, 0, 0.2) !important;
  height: 100px !important;
  width: 100px !important;
  margin-top: calc(50vh - 50px) !important;
}

.GuildDashboard {
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
  max-width: 1000px;
  min-width: 620px;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  display: block;
}

.GuildDashboardDividerLine {
  display: block;
  height: 1px;
  background-color: #DEDEDE;
  width: 95%;
  margin: 0 auto;
  margin-top: 41.5px;
  margin-bottom: 41.5px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.UserCountBubble {
  display: inline-block;
  border-radius: 15px;
  text-align: center;
  margin-right: 10px;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.UserCountBubble > p {
  margin: 0;
  color: black;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}