.LandingPage {
    height: 100%;
    width: 100%;
}

.LandingPage > * {
    margin: 0;
    padding: 0;
}

.LandingPageCornerText {
    display: inline-block;
    width: 100%;
    font-size: 0.9em;
    font-weight: lighter;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.LandingPageContentContainer {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: calc(50% - 220px);
}

.LandingPageBigLogo {
    margin: 0 auto;
    display: block;
    height: 200px;
    width: 200px;
}

.LandingPageTitle {
    font-size: 3em;
    font-family: 'Permanent Marker', cursive;
}